<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/CSS/index.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div id="login">
            <a href="/login">登入</a>
        </div>
    </nav>
    <main></main>
    <footer></footer>
    <script type="module" src="/static/JavaScript/index.js"></script>
</body>
</html>