<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/CSS/login.css">
    <title>login</title>
</head>
<body>
    <nav>
        <div id="login">登入</div>
    </nav>
    <main>
        <div id="loginType">
            <button id="google" class="loginBtn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="google logo" class="loginBtn__logo">
                <span class="loginBtn__text">以Google帳戶繼續操作</span>
            </button>
            <button id="notion" class="loginBtn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Notion-logo.svg" alt="notion logo" class="loginBtn__logo">
                <span class="loginBtn__text">以Notion帳戶繼續操作</span>
            </button>
            <button id="microsoft" class="loginBtn" disabled="disabled">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Microsoft_icon.svg" alt="ms logo" class="loginBtn__logo">
                <span class="loginBtn__text">以Microsoft帳戶繼續操作</span>
            </button>
            <hr>
            <div id="member"></div>
        </div>
    </main>
    <footer></footer>
    <script type="module" src="/static/JavaScript/login.js"></script>
</body>
</html>